spring:
  application:
    name: poc-security-with-google
  sql:
    init:
      mode: always
      schema-locations: classpath*:init/schema.sql
      data-locations: classpath*:init/data.sql
  datasource:
    url: jdbc:h2:mem:pocsecuritywithgoogle;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: ${H2_DATABASE_USER}
    password: ${H2_DATABASE_PASSWORD}
  h2:
    console:
      enabled: true
      path: /h2-console
  security:
    oauth2:
     client:
       registration:
         google:
           client-id: ${GOOGLE_OAUTH2_CLIENT_ID}
           client-secret: ${GOOGLE_OAUTH2_CLIENT_SECRET}
           scope:
             - profile
             - email
       provider:
         google:
           issuer-uri: https://accounts.google.com
